/*
scss : sass css/style.scss css/style.css --watch  
*/

/* Mode clair */
body.light-mode {
  --header-image: url("../img/fond_header_light.jpg");
  --logo-image: url("../img/logo_noir.png");
  --primary-color: #00aaff;
  --secondary-color: #282c34;
  --background-color: #f4f4f9;
  --text-color: #333333;
  --font-family: "Inter", sans-serif;
  --progress-circle-color: #00ff00;
}

/* Mode sombre */
body.dark-mode {
  --header-image: url("../img/fond_header_dark.jpg");
  --logo-image: url("../img/logo_blanc.png");
  --primary-color: #ff0000;
  --secondary-color: #444444;
  --background-color: #1a1a1a;
  --text-color: #e0e0e0;
  --font-family: "Poppins", sans-serif;
  --progress-circle-color: #00ff00;
}

/*****************
   STYLE GLOBAL
******************/
// Body
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

// Textes
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  transition: color 0.5s ease;
}
a {
  color: var(--primary-color);
  transition: color 0.5s ease;
  &:hover {
    text-decoration: underline;
  }
}

// Sections
section {
  padding: 4rem 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;

  &.about-section,
  &.skills-section,
  &.projects-section {
    text-align: center;
  }

  img {
    max-width: 150px;
    margin: 0 auto 1rem;
  }

  h2 {
    color: var(--primary-color);
    transition: color 0.5s ease;
  }
}

/**************
    NAVBAR
**************/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  transition: all 0.5s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
  padding: 1rem 0;

  &.scrolled {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1)
    );
    padding: 0.5rem 0;
  }

  .navbar-brand img {
    content: var(--logo-image);
    width: auto;
    height: 50px;
    max-width: 150px;
    object-fit: contain;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .nav-link {
    color: white;
    transition: color 0.5s ease;
    &:hover {
      color: var(--primary-color);
    }
  }
}

/**************
    HEADER
  (accueil)
**************/
#Accueil {
  background-image: var(--header-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;

  .position-absolute::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.5s ease;
  }

  body.light-mode & .position-absolute::after {
    background-color: transparent;
  }

  body.light-mode & {
    color: #000;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
    transition: text-shadow 0.5s ease, color 0.5s ease;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: text-shadow 0.5s ease, color 0.5s ease;
  }

  body.light-mode & h1,
  body.light-mode & p {
    text-shadow: none;
  }
}

body.light-mode #Accueil {
  color: #000;
}

body.light-mode #Accueil h1,
body.light-mode #Accueil p {
  color: #000;
  text-shadow: none;
}

.header-background {
  background-image: var(--header-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

/*****************
    COMPETENCES
******************/
// Barres de progression
.skills-section .progress-bar {
  background-color: var(#ffffff);
  transition: background-color 0.5s ease;
}

// Logos des applications
.skills-section .row .logo-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.skills-section .row .app-logo {
  max-height: 100px;
  margin: 0 auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transition fluide */
}

.skills-section .row .logo-wrapper:hover .app-logo {
  transform: scale(0.9);
  filter: brightness(0.7);
}

// Cercles de progression
.skills-section .row .progress-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  mask: radial-gradient(circle, transparent 40%, white 41%);
  -webkit-mask: radial-gradient(circle, transparent 40%, white 41%);
  transition: opacity 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
      var(--progress-circle-color) calc(var(--level) * 1%),
      transparent 0%
    );

    mask: radial-gradient(circle, transparent 40%, white 41%);
    -webkit-mask: radial-gradient(circle, transparent 40%, white 41%);
    z-index: -1;
  }
}

.skills-section .row .logo-wrapper:hover .progress-circle {
  opacity: 1;
}

// Texte du niveau
.skills-section .row .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  color: var(--progress-circle-color);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

// Visibilité au survol
.skills-section .row .logo-wrapper:hover .progress-text {
  opacity: 1;
}

/**************
    PORTFOLIO
**************/
// Cases
.project-item {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

// Surimpression
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);

  h5,
  p {
    margin: 0;
  }
}

.project-item:hover .overlay {
  opacity: 1;
}

// Clickable
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: background-color 0.5s ease, border-color 0.5s ease;

  &:hover {
    filter: brightness(1.1);
  }
}

// Pop Ups
.modal-fullscreen {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.5s ease;
}

.popup-background {
  position: relative;
  height: 100vh;
  background-color: black;
  transition: background-color 0.5s ease;
}

.popup-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-text {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 400px;
  z-index: 10;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.popup-text h5 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  transition: color 0.5s ease;
}

.popup-text a {
  color: var(--primary-color);
  transition: color 0.5s ease;

  &:hover {
    text-decoration: underline;
  }
}

.popup-text button {
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  &:hover {
    background-color: var(--primary-color);
    color: black;
  }
}

/**************
    FOOTER
**************/
footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;

  a {
    color: var(--primary-color);
    transition: color 0.5s ease;
  }
}
